body {
  background: antiquewhite;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  height: 100vh;
}

.Pinboard {
  margin: 1rem 1% 1rem 0;

  width: 100%;
  height: 80vh;
  border: 31px solid transparent;
  border-image-source: url("http://res.cloudinary.com/cspaveljb/image/upload/v1499110958/corkborder_f8cm3g.png");
  border-image-slice: 55 55;
  overflow: hidden;
  background: url("http://res.cloudinary.com/cspaveljb/image/upload/v1499110969/cork_w2tt25.jpg");
}

/* STICKY NOTE  */

.note {
  width: 160px;
  height: 160px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  float: left;
  margin: 8px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
}

.sticky1 {
  background-color: #fff780;
}

.text {
  margin: 10px;
  font-family: "The Girl Next Door", cursive;
}

.pin {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.55);
  margin: 0 auto;
  margin-top: 2px;
  background-image: radial-gradient(blue 50%, white 100%);
}

.border {
  display: flex;
}

.Form {
  width: 20%;
  margin: 1rem 2% 1rem 1%;
  background: black;
  color: white;
  border-radius: 2rem;
  border: silver 6px solid;
  border-style: ridge;
}

.FormArea {
  height: 60%;
}

.FormInput {
  margin: 15px 5px 5px 5px;
  border-radius: 1rem;
  width: 90%;
  padding: 5px 0 5px 5px;
}

.FormTextarea {
  margin: 5px;
  padding: 5px 0 0 5px;
  border-radius: 1rem;
  width: 90%;
  height: 100%;
  background: transparent;
  color: white;
}

.FormButton {
  margin: 5px;
  width: 95%;
  border-radius: 2rem;
}


.ike {
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

.title {
  text-decoration: underline;
  font-weight: bold;
}


input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}